#clockcontainer{
    position: relative;
   /* border: 2px red groove; */
   margin: auto;
    width: 40vw;
    height: 40vw;
    
    background: url(ClockPic.jpg) no-repeat; 
    background-size: 100%;
}
#hour, #minute ,#second{
    position: absolute;
    background: black;
    border-radius: 50px;
    transform-origin: bottom;
}
#hour{
    border-radius: 5px;
    top: 28%;
    width: 1.5%;
    height: 22%;
    left: 48.5%;
    opacity: 1;
   
}
#minute{
    top: 20%;
    width: 1.5%;
    height: 30%;
    left: 49.3%;
    opacity: 1;
    
}
#second{
    top: 25%;
    width: 1.5%;
    height: 25%;
    left: 49.24%;
    opacity: 1;
    
}